@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.encabezado {
  background-color: #051e2c;
  font-family: "Cabin", sans-serif;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%; }

.encabezado__aling {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .encabezado__aling .encabezado__img {
    width: 80px; }
  .encabezado__aling .encabezado__titulo {
    display: inline;
    color: #A8DBA8;
    font-weight: 800;
    font-size: 25px; }
  .encabezado__aling .encabezado__nav {
    max-width: 100%;
    overflow: hidden;
    padding: 4px; }
    .encabezado__aling .encabezado__nav .encabezado__navegador {
      color: #A8DBA8 !important;
      background-color: transparent;
      padding: 10px; }
      .encabezado__aling .encabezado__nav .encabezado__navegador .menu_align_end {
        display: flex;
        align-items: end; }
      .encabezado__aling .encabezado__nav .encabezado__navegador .nav__links:hover {
        border-radius: 2px;
        transition-property: background-color, color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        -webkit-transition-property: background-color, color;
        -webkit-transition-duration: 1;
        -o-transition-property: background-color, color;
        -o-transition-duration: 1s;
        background-color: #A8DBA8 !important;
        color: #051e2c !important;
        font-weight: 500; }
      .encabezado__aling .encabezado__nav .encabezado__navegador .nav__links {
        padding: 20px !important;
        color: aliceblue !important;
        font-weight: 500 !important; }

.footer {
  background-color: #051e2c;
  height: 10vh;
  display: flex;
  justify-content: flex-end; }

.link_red {
  margin: 8px; }

.redsocial {
  min-width: 40px; }

.carouselYformulario {
  display: grid;
  gap: 85rem;
  grid-auto-rows: auto;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  margin: 0; }

#carousel_img1 {
  background-image: url("../img/img-hero1.webp"); }

#carousel_img2 {
  background-image: url("../img/img-hero2.webp"); }

#carousel_img3 {
  background-image: url("../img/img-hero3.webp"); }

.carousel_img {
  background-color: #000;
  height: 82vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.carousel_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.carousel_text {
  color: white !important;
  font-size: 40px !important;
  font-weight: 500 !important; }

.enlaceUno {
  align-items: center;
  padding: 12px;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  color: #A8DBA8; }
  .enlaceUno .enlaceUno_titulo {
    color: aliceblue;
    font-size: 43px;
    font-weight: 800;
    padding: 40px 0px 20px 0px;
    text-align: center; }
  .enlaceUno .enlaceUno_flex {
    text-align: center;
    width: 100%; }
  .enlaceUno .enlaceUno__parrafo {
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 28px;
    text-align: center; }

.enlaceUno_img {
  display: inline;
  width: 30%; }

.ubicacion {
  background-color: aliceblue;
  display: flex;
  font-family: "Cabin", sans-serif;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }

.ubicacion_titulo {
  margin: 10px;
  font-size: 50px;
  font-family: "Cabin", sans-serif;
  text-align: center;
  color: #051e2c; }

.ubicacion_parrafo {
  color: aliceblue;
  background-color: #0B486B;
  font-size: 20px !important;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  text-shadow: 0 0 3px #051e2c, 0 0 5px #3B8686;
  position: relative;
  padding: 10px;
  text-align: center;
  width: 100%; }

.ubicacion_iframe {
  height: 50vh; }

.ubicacion_inputs {
  align-items: center;
  border: 0;
  display: flex;
  font-weight: 300;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0.7rem;
  padding: 0.2rem;
  width: 80%; }

.contacto-intro {
  background-color: aliceblue;
  background-image: url(../img/contacto-hero.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  min-height: 85vh;
  width: 100%; }

.contacto_titulo {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 1rem; }

.contacto_parrafo {
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
  margin-top: 50px;
  padding: 1rem;
  line-height: initial;
  text-align: center; }

.contacto {
  font-family: "Cabin", sans-serif; }

.contacto_titulo2 {
  color: aliceblue;
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0px 20px 0px;
  text-align: center; }

.contacto_form {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  color: white;
  text-shadow: 3px 3px 10px black;
  text-align: center;
  font-family: "Cabin", sans-serif;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  min-height: 85vh; }

.contacto_inputs {
  align-items: center;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 0.7rem;
  padding: 0.2rem;
  width: 80%; }

.contacto_div {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left; }

.contacto_msj {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left; }

.eventos-intro {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  background-image: url("../img/fondo-hero-eventos.webp"); }

.eventos_text {
  color: #051e2c;
  border-radius: 8px; }

.eventos__titulo {
  color: aliceblue;
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
  font-weight: 600;
  text-align: center; }

.eventos__parrafo {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
  margin-top: 50px;
  padding: 2rem;
  line-height: initial;
  text-align: center;
  text-shadow: 5px 5px 5px #000; }

.eventos_iconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  background-color: aliceblue;
  justify-content: space-around;
  margin-top: auto;
  font-family: "Cabin", sans-serif;
  text-align: center;
  overflow: hidden;
  min-height: 85vh; }

.eventos_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.4rem;
  width: 40%; }

.eventos_icon1 {
  color: #051e2c;
  margin-bottom: 1rem;
  width: 3rem; }

.eventos_parrafo1 {
  color: black;
  font-size: 1.6rem; }

.ancho_boton {
  align-items: center;
  border: 0;
  display: flex;
  font-weight: 300;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 0.7rem;
  padding: 0.2rem;
  width: 80%; }

.ancho_reservar {
  font-family: "Cabin", sans-serif;
  font-size: 1.4rem;
  border: 0;
  color: white;
  background-color: #051e2c;
  text-align: center;
  height: 3rem;
  width: 50%; }

.ancho_reservar:hover {
  background-color: white;
  color: #051e2c;
  font-weight: 600;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s; }

.ancho_menu {
  font-family: "Cabin", sans-serif;
  font-size: 1.4rem;
  border: 0;
  background-color: gray;
  color: white;
  text-align: center;
  height: 3rem;
  width: 50%; }

.ancho_menu:hover {
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  background-color: aliceblue;
  color: #051e2c;
  font-weight: 500; }

.reservas {
  background-color: aliceblue;
  width: 100%;
  text-align: center;
  min-height: 85vh; }

.reservas_bloque {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.reservas_bloque1 {
  overflow: hidden;
  width: 100%;
  align-items: center; }

.reservas_titulo {
  color: #051e2c;
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
  text-align: center; }

.reservas_parrafo {
  color: #0B486B;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
  margin-top: 50px;
  line-height: initial;
  text-align: center;
  padding: 1rem; }

.reservas__form {
  background-image: url(../img/fondo-reservas.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  color: white;
  text-shadow: 3px 3px 10px black;
  text-align: center;
  font-family: "Cabin", sans-serif;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  min-height: 85vh; }

.reservas_inputs {
  align-items: center;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 0.7rem;
  padding: 0.2rem;
  width: 80%; }

.reservas_div {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left; }

.reservas_buttom {
  font-family: "Cabin", sans-serif;
  font-size: 1.4rem;
  border: 0;
  background-color: grey;
  text-align: center;
  height: 3rem;
  width: 50%; }

.reservas_buttom:hover {
  background-color: white;
  color: #051e2c;
  font-weight: 600;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s; }

.reservas_buttom1 {
  font-family: "Cabin", sans-serif;
  font-size: 1.4rem;
  border: 0;
  background-color: #A8DBA8;
  color: black;
  text-align: center;
  height: 3rem;
  width: 50%; }

.reservas_buttom1:hover {
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  background-color: aliceblue;
  color: #051e2c;
  font-weight: 500; }

.nosotros-intro {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  min-height: 85vh;
  width: 100%; }

.nosotros__text {
  color: #051e2c;
  display: flex;
  flex-direction: row;
  border-radius: 8px; }

.nosotros__titulo {
  color: #051e2c;
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
  text-align: center; }

.nosotros__parrafo {
  color: #0B486B;
  font-family: 'Cabin', sans-serif;
  font-size: 32px;
  margin-top: 50px;
  padding: 12px;
  line-height: initial;
  text-align: center; }

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem; }

.nosotros__card {
  font-family: 'Cabin', sans-serif;
  background-color: white;
  color: #051e2c;
  margin: 1%;
  font-size: 18px;
  width: 23%; }

.card {
  border-radius: 0; }

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600; }

.boton_link {
  background-color: black;
  padding: 8px;
  border-radius: 0;
  text-align: center; }

.card_centrado {
  text-align: center; }

.card-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%; }

.card-img-top {
  border-radius: 0; }

.error {
  display: flex;
  flex-direction: column;
  background-image: -webkit-linear-gradient(#0B486B, #79BD9A);
  height: 85vh;
  width: 100%; }

.error_text {
  font-family: "Cabin, sans-serif";
  font-size: 75px;
  color: #A8DBA8; }

.error_lottie {
  display: flex;
  overflow: hidden;
  width: 100%; }

.error_a {
  text-decoration: none;
  color: #79BD9A;
  font-family: "Cabin, sans-serif";
  font-size: 25px;
  padding: 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(#051e2c, #041524); }

/* Animación Titulos y parrafos hero */
.animacion-entrada {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.animacion-entrada-delay {
  animation-delay: 0.3s; }

/* Mediqueries  */
@media only screen and (max-width: 991px) {
  .encabezado__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 50%;
    justify-content: flex-end; }
  .intro_evento {
    flex-direction: column;
    justify-content: center; }
  .reservas__form {
    width: 100%; }
  .reservas__img {
    width: 100%; }
  .enlaceUno_img {
    width: 45%; }
  .nosotros {
    padding: 0.3rem;
    align-items: center; }
  .nosotros__card {
    width: 35%; } }

@media only screen and (max-width: 679px) {
  .reservas_inputs {
    flex-direction: column;
    width: 90%; }
  .reservas_div {
    width: 90%; }
  .reservas_buttom {
    width: 100%; }
  .reservas_buttom1 {
    width: 100%; }
  .nosotros__card {
    width: 80%; }
  .contacto_div {
    font-size: 1.2rem;
    width: 100%; } }

@media only screen and (max-width: 375px) {
  .encabezado__nav {
    display: flex;
    align-items: flex-start;
    margin: 0px; }
  .carousel {
    max-height: 80vh; }
    .carousel .carousel__img {
      height: 280px;
      max-width: 370px; }
  legend {
    color: #A8DBA8;
    font-weight: 700;
    font-size: 35px; }
  .eventos__section {
    min-height: 180vh; }
  .enlaceUno_img {
    width: 100%; }
  .nosotros__titulo {
    font-size: 55px;
    margin-top: 1rem; }
  .nosotros__card {
    width: 85%; }
  .eventos__titulo {
    margin-top: 1rem;
    font-size: 55px; }
  .reservas_titulo {
    font-size: 55px;
    margin-top: 1rem; }
  .reservas_inputs {
    width: 90%; }
  .reservas_parrafo {
    padding: 0.5rem; }
  .contacto_input {
    flex-direction: column; }
  .reservas_input {
    flex-direction: column; }
  .reservas_div {
    width: 100%; }
  .reservas_buttom {
    width: 100%; }
  .reservas_buttom1 {
    width: 100%; }
  .eventos_1 {
    width: 90%; }
  .ancho_boton {
    flex-direction: column; }
  .ancho_menu {
    width: 90%; }
  .ancho_reservar {
    width: 90%; } }
