/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.encabezado {
  background-image: linear-gradient(135deg, #051e2c 10%, #0B486B 100%);
  font-family: "Cabin", sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0 0 85% 85% / 30%; }

.encabezado__aling {
  display: flex;
  justify-content: space-between; }
  .encabezado__aling .encabezado__img {
    width: 60px; }
  .encabezado__aling .encabezado__titulo {
    display: inline;
    color: #A8DBA8;
    font-weight: 800;
    font-size: 25px; }
  .encabezado__aling .encabezado__nav {
    max-width: 100%;
    overflow: hidden;
    padding: 4px;
    margin: 10px 0px 0px 25px; }
    .encabezado__aling .encabezado__nav .encabezado__navegador {
      color: #A8DBA8 !important;
      background-color: transparent;
      padding: 10px;
      width: 100%; }
      .encabezado__aling .encabezado__nav .encabezado__navegador .nav__links:hover {
        border-radius: 2px;
        transition-property: background-color, color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        -webkit-transition-property: background-color, color;
        -webkit-transition-duration: 1;
        -o-transition-property: background-color, color;
        -o-transition-duration: 1s;
        background-color: #A8DBA8 !important;
        color: #051e2c !important;
        font-weight: 500; }
      .encabezado__aling .encabezado__nav .encabezado__navegador .nav__links {
        padding: 20px !important;
        color: #A8DBA8 !important;
        font-weight: 500 !important; }

.footer {
  background-color: #051e2c;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .footer .btn--facebook {
    border: 4px #fafafa;
    height: 55px;
    width: 60px;
    padding: 10px; }
  .footer .btn--instagram {
    border: 4px #fefefe;
    height: 55px;
    width: 60px;
    padding: 10px; }
  .footer .btn--twitter {
    border: 4px #fdfdfd;
    height: 55px;
    width: 60px;
    padding: 10px; }

.carouselYformulario {
  display: grid;
  gap: 100rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px 5px; }
  .carouselYformulario .carousel__img {
    height: 680px;
    width: 100%;
    position: relative;
    padding: 0 rem;
    margin: 0px; }
    .carouselYformulario .carousel__img .carousel_text {
      color: #A8DBA8 !important;
      font-size: 40px !important;
      font-weight: 500 !important; }

.enlaceUno {
  align-items: center;
  margin: 5px;
  padding: 12px;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  color: #A8DBA8; }
  .enlaceUno .enlaceUno_titulo {
    color: #A8DBA8;
    font-size: 43px;
    font-weight: 500;
    padding: 10px 12px 20px 10px;
    text-align: center; }
  .enlaceUno .enlaceUno_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .enlaceUno .enlaceUno_parrafo {
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
    padding: 28px;
    text-align: center; }
  .enlaceUno .enlaceUno_img {
    margin: 10px;
    display: block;
    width: 10rem; }

.ubicacion {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
  font-family: "Cabin", sans-serif;
  background-color: #A8DBA8;
  padding: 10px; }
  .ubicacion .ubicacion__uno {
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 5; }
    .ubicacion .ubicacion__uno .ubicacion_titulo {
      margin: 10px;
      font-size: 50px;
      font-family: "Cabin", sans-serif;
      text-align: center;
      color: aliceblue; }
  .ubicacion .ubicacion_parrafo {
    color: aliceblue;
    background-color: #0B486B;
    font-size: 20px !important;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    text-shadow: 0 0 3px #051e2c, 0 0 5px #3B8686;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-top: 4px;
    text-align: center; }
  .ubicacion .ubicacion__dos {
    padding: 8px;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .ubicacion .ubicacion__dos .ancla_contacto {
      color: #A8DBA8 !important;
      font-size: 28px !important;
      background-color: aliceblue;
      text-decoration: none !important;
      margin: 10px;
      text-shadow: 0 0 3px #051e2c, 0 0 5px #3B8686;
      font-family: "Cabin", sans-serif;
      text-align: center; }
    .ubicacion .ubicacion__dos .ancla_contacto:hover {
      color: #051e2c;
      background-color: #3B8686; }
    .ubicacion .ubicacion__dos .social__img {
      position: fixed;
      top: 10px;
      right: 20px;
      width: 80px;
      z-index: 1; }

.contacto {
  background-color: #A8DBA8;
  color: #051e2c;
  font-family: 'Cabin', sans-serif;
  padding: 8px;
  width: 100%; }

.contacto_titulo {
  color: #0B486B;
  font-size: 20px;
  padding: 8px;
  margin-left: 10px;
  background-color: cadetblue;
  width: 50%;
  border-radius: 4px; }

.contacto_form {
  padding: 15px; }

.intro_evento {
  align-items: center;
  color: aliceblue;
  display: flex;
  font-family: "Cabin", sans-serif;
  font-size: 40px; }
  .intro_evento .intro_cajauno {
    border-radius: 10px;
    background-image: url("../img/patio-lleno.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 85vh; }
  .intro_evento .intro_titulo {
    color: black;
    background-color: rgba(224, 248, 0, 0.2);
    font-size: 80px;
    text-align: center;
    padding: 5px; }
  .intro_evento .intro_text {
    background-color: rgba(225, 179, 64, 0.2);
    font-size: 30px;
    color: black;
    font-weight: 600;
    margin-top: 5rem;
    padding: 10px; }

.eventos__img {
  width: 240px; }

.titulo__eventos {
  margin: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-family: "Cabin", sans-serif;
  color: #051e2c; }

.eventos__parrafo {
  padding: 10px;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  color: aliceblue;
  font-weight: 500; }

.eventos__section {
  background-color: #A8DBA8;
  background-image: url("../img/icono-b.jpg");
  background-repeat: no-repeat;
  background-position: center center; }
  .eventos__section .eventos {
    height: 140vh; }
    .eventos__section .eventos .eventos__flip {
      display: flex;
      justify-content: center;
      padding: 20px;
      height: 45vh; }
    .eventos__section .eventos .flip-box {
      background-color: transparent;
      width: 50%;
      height: 100%;
      perspective: 1000px; }
    .eventos__section .eventos .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }
    .eventos__section .eventos .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg); }
    .eventos__section .eventos .flip-box-front, .eventos__section .eventos .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .eventos__section .eventos .flip-box-front {
      color: #051e2c; }
    .eventos__section .eventos .flip-box-back {
      background-image: linear-gradient(#3B8686, #A8DBA8);
      transform: rotateY(180deg); }
    .eventos__section .eventos .boton__reserva {
      font-family: "Cabin", sans-serif !important;
      position: relative !important;
      left: 26rem !important; }

.reservas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .reservas .reservas__bloqueuno .reservas__titulo {
    display: inline-block;
    text-align: center;
    color: #A8DBA8;
    font-size: 60px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    padding: 10px;
    margin: 5px; }
    .reservas .reservas__bloqueuno .reservas__titulo .reservas__img {
      position: relative;
      max-width: 100%;
      padding: 16px;
      z-index: 1; }
      .reservas .reservas__bloqueuno .reservas__titulo .reservas__img .reservas__lottie {
        position: absolute;
        z-index: 8;
        width: 300px; }
  .reservas .reservas__bloquedos {
    display: flex;
    color: #A8DBA8;
    border-bottom: #051e2c;
    flex-direction: column;
    align-items: left;
    font-weight: 700;
    font-family: "Cabin", sans-serif;
    padding: 10px;
    width: 100%; }

.nosotros-intro {
  background-color: #051e2c;
  background-repeat: no-repeat;
  min-height: 85vh;
  width: 100%; }

.nosotros__text {
  display: flex;
  flex-direction: row;
  background-color: #0B486B;
  border-radius: 8px; }

.nosotros__titulo {
  color: #A8DBA8;
  font-family: 'Cabin', sans-serif;
  font-size: 70px; }

.nosotros__parrafo {
  color: #A8DBA8;
  font-family: 'Cabin', sans-serif;
  font-size: 45px; }

.nosotros__img {
  width: 480px; }

.nosotros {
  background-image: -webkit-linear-gradient(#0B486B, #79BD9A);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }

.nosotros__card {
  font-family: 'Cabin', sans-serif;
  background-color: transparent;
  color: aliceblue;
  font-size: 22px;
  font-weight: 700; }

.card-link {
  color: #051e2c;
  text-decoration: none; }

.card-link:hover {
  color: black;
  font-size: 24px; }

.error {
  display: flex;
  flex-direction: column;
  background-image: -webkit-linear-gradient(#0B486B, #79BD9A);
  height: 85vh;
  width: 100%; }

.error_text {
  font-family: "Cabin, sans-serif";
  font-size: 75px;
  color: #A8DBA8; }

.error_lottie {
  display: flex;
  overflow: hidden;
  width: 100%; }

.error_a {
  text-decoration: none;
  color: #79BD9A;
  font-family: "Cabin, sans-serif";
  font-size: 25px;
  padding: 10px; }

body {
  background-image: linear-gradient(#051e2c, aliceblue); }

/* Mediqueries  */
@media only screen and (min-width: 375px) and (max-width: 991px) {
  .encabezado__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 50%; }
    .encabezado__nav .encabezado__img {
      width: 50px; }
  .carouselYformulario {
    display: flex;
    align-items: center;
    width: 100%; }
    .carouselYformulario .carousel__img {
      height: 380px;
      max-width: 100%; }
  .intro_evento {
    flex-direction: column;
    justify-content: center; } }

@media only screen and (max-width: 375px) {
  .encabezado__nav {
    display: flex;
    align-items: flex-start;
    margin: 0px; }
  .encabezado__img {
    width: 40px; }
  .carousel {
    max-height: 80vh; }
    .carousel .carousel__img {
      height: 280px;
      max-width: 370px; }
  .enlaceUno_img {
    width: 60%; }
  legend {
    color: #A8DBA8;
    font-weight: 700;
    font-size: 35px; }
  .eventos__section {
    min-height: 180vh; }
  .eventos__flip {
    height: 120vh; } }
