.contacto-intro{
background-color: aliceblue;
background-image: url(../img/contacto-hero.webp);
background-size: cover;
background-position: center;
background-repeat: repeat;
background-attachment: fixed;
display: flex;
align-items: center;
min-height: 85vh;
width: 100%;

}

.contacto_titulo{

color: white;
text-shadow: 2px 2px 5px black;
font-family:'Cabin', sans-serif  ;
font-size: 70px;
text-align: center;
margin-top: 1rem;
}
.contacto_parrafo{
color:aliceblue;
text-shadow: 2px 2px 5px black;
font-family:'Cabin', sans-serif  ;
font-size: 32px;
margin-top: 50px;
padding: 1rem;
line-height: initial;
text-align: center;
}

.contacto{

font-family: $fuente;
}
.contacto_titulo2{
color: aliceblue;
font-weight: 600;
font-size: 32px;
margin: 20px 0px 20px 0px;
text-align: center;
}

.contacto_form{
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
	display: flex;
	color:white;
	text-shadow: 3px 3px 10px rgb(0, 0, 0);
	text-align: center;
	font-family:$fuente; 
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
	min-height: 85vh;

}

.contacto_inputs{
	align-items: center;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	font-weight: 300;
	flex-direction: row;
    font-size: 1.5rem;
	justify-content: space-between;
    margin: 0.7rem;
	padding: 0.2rem;
    width: 80%;
}
.contacto_div{
	display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
	
}
.contacto_msj{
	display: flex;
    width: 100%;
    flex-direction: column;
	text-align: left;
}

