.contacto{
	background-color: #A8DBA8;
	color: #051e2c;
	font-family:'Cabin', sans-serif  ;
	padding: 8px;
	width: 100%;
	
}
	.contacto_titulo{
		color: $color-base;
		font-size: 20px;
		padding: 8px;
		margin-left: 10px;
		background-color: cadetblue;
		width: 50%;
		border-radius: 4px;
	}
	.contacto_form{

		padding: 15px;
	
	}

