@import "./utilities/variables";
.eventos-intro{
	background-color: aliceblue;
	display: flex;
	align-items: center;
	min-height: 85vh;
	width: 100%;
    background-image: url("../img/fondo-hero-eventos.webp");
}
 .eventos_text{
	 color: #051e2c;
	 border-radius: 8px;
	
 }
		.eventos__titulo{
			color: aliceblue;
			font-family:'Cabin', sans-serif  ;
			font-size: 70px;
			font-weight: 600;
			text-align: center;
           
		}
		.eventos__parrafo{
			color: white;
			font-family:'Cabin', sans-serif  ;
			font-size: 32px;
			margin-top: 50px;
			padding: 2rem;
			line-height: initial;
			text-align: center;
      		text-shadow: 5px 5px 5px #000;
		}
 
  .eventos_iconos{
	  		display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			margin:0;
			background-color: aliceblue;
			justify-content: space-around;
			margin-top: auto;
			font-family: $fuente;
			text-align: center;
			overflow: hidden;
			min-height: 85vh;
  }
  .eventos_1{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  margin: 1rem;
	  padding:0.4rem;
	  width: 40%;
  }
       .eventos_icon1{
		   color: #051e2c;
		   margin-bottom: 1rem;
		   width: 3rem;
	   }
	   .eventos_parrafo1{
		   color: black;
			font-size: 1.6rem;

	   }
	   .ancho_boton{
		align-items: center;
		border: 0;
		display: flex;
		font-weight: 300;
		flex-direction: row;
		font-size: 1.5rem;
		justify-content: space-between;
		margin: 0.7rem;
		padding: 0.2rem;
		width: 80%;
	   }

.ancho_reservar{
	font-family: $fuente;
	font-size: 1.4rem;
	border: 0;
	color: white;
	background-color:#051e2c;
	text-align: center;
	height: 3rem;
	width: 50%;
	
}
.ancho_reservar:hover{
	background-color: white;
	color: $color-oscuro;
	font-weight: 600;
	transition-property: background-color, color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 1;
	-o-transition-property: background-color, color;
	-o-transition-duration: 1s;
	
	
}
     .ancho_menu{
		font-family: $fuente;
		font-size: 1.4rem;
		border: 0;
		background-color:gray;
		color: white;
		text-align: center;
		height: 3rem;
		width: 50%;
	 }
	 .ancho_menu:hover{
		transition-property: background-color, color;
		transition-duration: 1s;
		transition-timing-function: ease-out;
		-webkit-transition-property: background-color, color;
		-webkit-transition-duration: 1;
		-o-transition-property: background-color, color;
		-o-transition-duration: 1s;
		background-color: aliceblue ;
		color: $color-oscuro ;
		font-weight: 500;
	 }