
@import "utilities/variables";
@import "base/reset";
@import "base/typo";
@import "layout/encabezado";
@import "layout/footer";
@import "views/home";
@import "contacto";
@import "eventos";
@import "reservas";
@import "nosotros";
@import "404";


*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(#051e2c, rgb(4, 21, 36));
}
/* Animación Titulos y parrafos hero */
.animacion-entrada {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
}
}

.animacion-entrada-delay{
	animation-delay: 0.3s
}


/* Mediqueries  */

@media only screen and (max-width:991px) {
.encabezado__nav{
	display: flex;
    flex-direction: row;
    align-items: flex-end;
	max-width: 50%;
	justify-content: flex-end;
}


.intro_evento{
	flex-direction: column;
	justify-content: center;
}
.reservas__form{
	width: 100%;
}
.reservas__img{
	width: 100%;
}
.enlaceUno_img{
	width: 45%;
}
.nosotros{
	padding: 0.3rem;
	align-items: center;
}
.nosotros__card{
	width: 35%;
}

}

@media only screen and (max-width:679px){

	.reservas_inputs{
		flex-direction: column;
		width: 90%;
	}
	.reservas_div{
		width: 90%;
	}
	.reservas_buttom{
		width: 100%;
	}
	.reservas_buttom1{
		width: 100%;
	}
	.nosotros__card{
		width: 80%;
	}
	.contacto_div{
		font-size: 1.2rem;
		width: 100%;
	}
}


@media only screen and (max-width:375px) {
.encabezado__nav{
			display: flex;
			align-items: flex-start;
			margin:0px;
}
	.carousel{
		max-height: 80vh;

		.carousel__img{
			height:280px;
			max-width: 370px;
		}
	}

	
legend{
	color: #A8DBA8;
	font-weight: 700;
	font-size: 35px;
}

.eventos__section{
	min-height: 180vh;
}

.enlaceUno_img{
	width: 100%;
}
.nosotros__titulo{
	font-size: 55px;
	margin-top: 1rem;
}
.nosotros__card{
	width: 85%;
}
.eventos__titulo{
	margin-top: 1rem;
	font-size: 55px;
}
.reservas_titulo{
	font-size: 55px;
	margin-top: 1rem;
}
.reservas_inputs{
	width: 90%;
}
.reservas_parrafo{
	padding: 0.5rem;
}
.contacto_input{
	flex-direction: column;
}


.reservas_input{
	flex-direction: column;
}
.reservas_div{
	width: 100%;
}
.reservas_buttom{
	width: 100%;
}
.reservas_buttom1{
	width: 100%;
}
.eventos_1{
	width: 90%;
}
.ancho_boton{
	flex-direction: column;
}
.ancho_menu{
	width: 90%;
}
.ancho_reservar{
	width: 90%;
}
}



