
@import "utilities/variables";
@import "base/reset";
@import "base/typo";
@import "layout/encabezado";
@import "layout/footer";
@import "views/home";
@import "contacto";
@import "eventos";
@import "reservas";
@import "nosotros";
@import "404";


*{
	margin: 0;
	padding: 0;
}
	 
body{
	background-image: linear-gradient(#051e2c, rgb(4, 21, 36));
}
/* Mediqueries  */
@media only screen and (max-width:679px){

}

@media only screen and (max-width:991px) {
.encabezado__nav{
	display: flex;
    flex-direction: row;
    align-items: flex-end;
	max-width: 50%;
	justify-content: flex-end;
}


.intro_evento{
	flex-direction: column;
	justify-content: center;
}
.reservas__form{
	width: 100%;
}
.reservas__img{
	width: 100%;
}
.enlaceUno_img{
	width: 45%;
}
.nosotros{
	flex-direction: column;
    padding: 0.3rem;
	align-items: center;
}

}


@media only screen and (max-width:375px) {
.encabezado__nav{
			display: flex;
			align-items: flex-start;
			margin:0px;
}
	.carousel{
		max-height: 80vh;

		.carousel__img{
			height:280px;
			max-width: 370px;
		}
	}

	
legend{
	color: #A8DBA8;
	font-weight: 700;
	font-size: 35px;
}

.eventos__section{
	min-height: 180vh;
}
.eventos__flip{
	height: 120vh;
}
.enlaceUno_img{
	width: 100%;
}
.nosotros__titulo{
	font-size: 55px;
}
.reservas_inputs{
	width: 80%;
}
}
