@import "../utilities/variables";

.encabezado{ 
    
    background-color: $color-oscuro;
    font-family: $fuente;
    width: 100%;
    border-radius: 0 0 85% 85% / 30%;
    
    
}
    .encabezado__aling{
        display: flex;
        justify-content: space-between;
        align-items: center;
    .encabezado__img{
           
            width: 80px;
        }
    
    
    .encabezado__titulo{
        display: inline;
        color: $color-claro;
        font-weight: 800;
        font-size: 25px;
    }
        
.encabezado__nav{
    
    max-width: 100%;
    overflow: hidden;
    padding:4px; 
   

    .encabezado__navegador{
        color: $color-claro !important;
        background-color: transparent;
        padding: 10px;

    .menu_align_end{
        display: flex;
        align-items: end;
    }    
        
    .nav__links:hover{
        border-radius: 2px;
        transition-property: background-color, color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        -webkit-transition-property: background-color, color;
        -webkit-transition-duration: 1;
        -o-transition-property: background-color, color;
        -o-transition-duration: 1s;
        background-color: $color-claro !important;
        color: $color-oscuro !important;
        font-weight: 500;
    }

    .nav__links{
            
            
            padding: 20px !important;
            color: aliceblue !important;
            font-weight: 500 !important;

        }
        } 
        }
    }
                    
     
        

    