@import "../utilities/variables";

.footer{
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color:$color-oscuro;
  height: 10vh;
  width: 100%;
  
        
$footer: (
    facebook: $color-oscuro,
    instagram: $color-claro,
    twitter: $color-base,
);

@each $red, $color in $footer{
    .btn--#{$red}{
        border: 4px $color;
        height: 55px;
        width: 60px;
        padding: 10px;
    }
    
}

}