@import "../utilities/variables";

.carouselYformulario{
	
	// background-color: $color-oscuro;
    display: grid;
    gap: 100rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
	font-family:$fuente;
    font-size: 22px;
	overflow: hidden;
	width: 100%;
    margin-bottom: 10px;
    border-radius: 5px 5px;
    // box-shadow: 0px 5px 6px 3px rgb(32, 88, 90);
    
        .carousel__img{
            height: 680px;
            width: 100%;
            position: relative;
            padding: 0 rem;
            margin: 0px;
            
        .carousel_text{
            color: $color-claro !important; 
            font-size:40px !important;
            font-weight: 500 !important;
        }
}

}


.enlaceUno{
    align-items: center;
    margin:5px;
    padding:12px;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    color: $color-claro;
    .enlaceUno_titulo{
        color: $color-claro;
        font-size: 43px;
        font-weight: 500;
        padding: 10px 12px 20px 10px;
        text-align: center;
             
    }
    .enlaceUno_flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .enlaceUno_parrafo{
        color:aliceblue;
        font-size: 22px;
        font-weight: 500;
        padding: 28px;
        text-align: center;
    } 
    .enlaceUno_img{
        margin:10px;
        display: block;
        width: 10rem;
    }

 }
   

.ubicacion{
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: $fuente;
    background-color: $color-claro;
   
    padding: 10px;
    .ubicacion__uno{
        display: flex;
        flex-direction: column;
        padding:10px;
        z-index: 5;
    .ubicacion_titulo{
        margin: 10px;
        font-size: 50px;
        font-family: $fuente;
        text-align: center;
        color: aliceblue;
        

    }
}

.ubicacion_parrafo{
    color: aliceblue;
    background-color: $color-base;
    font-size: 20px !important;
    font-family: $fuente;
    font-weight: 400;
    text-shadow: 0 0 3px $color-oscuro, 0 0 5px $color-foot;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-top: 4px;
    text-align: center;
    }
  
    .ubicacion__dos{
       
        padding:8px;
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap:wrap;
        
     
        .ancla_contacto{
            color: $color-claro !important;
            font-size: 28px !important;
            background-color: aliceblue;
            text-decoration: none !important;
            margin: 10px;
            text-shadow: 0 0 3px $color-oscuro, 0 0 5px $color-foot;
            font-family: $fuente;
            text-align: center;
        }
        .ancla_contacto:hover{
            color: $color-oscuro;
            background-color: $color-foot;
        }
    
        .social__img{
           position: fixed;
           top: 10px;
           right: 20px;
            width:80px;
            z-index: 1;
        }
}
}
