@import "../utilities/variables";

.carouselYformulario{
	
	background-color: $color-claro;
	font-family:$fuente;
	overflow: hidden;
	width: 100%;
    margin-bottom: 60px;
    border-radius: 5px 5px;
    box-shadow: 0px 5px 6px 3px rgb(32, 88, 90);
        .carousel{
            position: relative;
            left:-12px;
            overflow: hidden;
            width: 100%;
            margin-bottom: -2px;
        .carousel__img{
                    
            height: 600px;
            width: 800px;

        .carousel-caption{
            color: $color-claro !important;
            font-size: 30px !important;
            font-weight: 500 !important;

}

}

}





.enlaceUno{
    align-items: center;
    margin:3px;
    padding:2px;
    box-shadow: 2px 2px 20px 13px #0b486b;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    color: $color-oscuro;
    .titulo-secundario{
        color: $color-oscuro;
        text-shadow: aliceblue 2px 1px;
        font-size: 33px;
        font-weight: 500;
        padding: 10px 12px 20px 10px;
        margin-left: -25px;
    }
    .enlace__flex{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
       
    .img__enlace{
        margin-bottom: 4px;
        display: block;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        width: 140px;
    }

    .enlace__parrafo{
        color: $color-oscuro;
        text-shadow: aliceblue 2px 1px;
        font-size: 22px;
        font-weight: 800;
        padding: 8px;
    }}
   

}   

.fondo__ubicacion{
    
    width: 100%;

    .img__ubicacion{
        border-radius: 15px 15px;
        width: 100%;
    }
    }
.ubicacion{
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: $fuente;
    background-color: $color-claro;
    margin-top: 50px;
    padding: 10px;
    .ubicacion__uno{
        display: flex;
        flex-direction: column;
        padding:10px;
        z-index: 5;
    .titulo__ubicacion{
        margin: 10px;
        font-size: 50px;
        font-family: $fuente;
        color: aliceblue;
        

    }
}

.parrafo__ubicacion{
    color: $color-claro;
    background-color: $color-oscuro;
    font-size: 28px !important;
    font-family: $fuente;
    font-weight: 400;
    text-shadow: 0 0 3px $color-oscuro, 0 0 5px $color-foot;
    left: 120px;
    position: relative;
    width: 340px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 4px;
    }
  
    .ubicacion__dos{
       
        padding:8px;
        align-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap:wrap;
        
        
        @keyframes delivery{
            0%   { left:0px; top:0px;}
            20%  { left:100px; top:0px;}
            
          }
        .img__delivery{
            width: 100%;
			position: relative;
			animation-name: delivery;
			animation-duration: 6s;
			animation-iteration-count: infinite;
            margin-top: 4px;
			border-radius: 8px;
			width: 240px;
        }
        .titulo__pedido{
            color: $color-claro;
            font-size: 48px;
            background-color: aliceblue;
            text-decoration: none;
            margin: 10px;
            text-shadow: 0 0 3px $color-oscuro, 0 0 5px $color-foot;
            font-family: $fuente;
        }
        .titulo__pedido:hover{
            color: $color-oscuro;
            background-color: $color-foot;
        }
        .social__img{
           position: fixed;
           top: 10px;
           right: 20px;
            width:80px;
            z-index: 1;
        }
}
}
